@import url(../../../style/index.scss);

.tarmoq {
  background: rgba(37, 37, 37, 0.8);
  width: 100%;
  padding: 1.5vw 0;
  .ttl {
    color: #fff;
    font-family: "Inter";
    text-align: center;
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 56px */
    letter-spacing: 0.09vw;
  }
  .grp {
    padding: 2vw 0 1vw 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: center;
    a {
      button {
        display: flex;
        padding: 0.8vw 2vw;
        align-items: center;
        gap: 1vw;
        border-radius: 0.9vw;
        background: linear-gradient(
          140deg,
          #5c5c5c 1.86%,
          #cdcbcb 44.24%,
          #5c5c5c 96.52%
        );
        color: #111;
        font-family: "Inter";
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        letter-spacing: 0.08vw;
        svg {
          width: 1.5vw;
          height: 1.5vw;
        }
      }
      button:hover{
        background: none;
        color: #fff;
      }
    }
  }
}

@media(max-width:425px){
    .tarmoq{
        padding: 5vw 0;
        .ttl{
            font-size: 20px;
        }
        .grp{
            flex-wrap: wrap;
            a{
                button{
                    padding: 8px 10px;
                    font-size: 10px;
                    svg{
                        width: 15px;
                        height: 15px;
                    }
                    width: 100px;
                }
            }
        }
    }
}