@import url(../../../style/index.scss);

.aloqa {
  background: #282828;
  padding: 2vw 0 7vw 0;
  .container {
    width: 88vw;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vw;
    .f1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1vw;
      .tel {
        color: #fff;
        font-family: "Inter";
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
        letter-spacing: 0.05vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        padding: 0.5vw 0;
        width: 37vw;
        svg {
          width: 1.8vw;
          height: 1.8vw;
          color: #cbc9c9;
        }
      }
      .ttl {
        color: #fff;
        font-family: "Inter";
        font-size: 2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 56px */
        letter-spacing: 0.09vw;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5vw;
        .fttl {
          margin-top: 0.5vw;
          color: #fff;
          font-family: "Inter";
          font-size: 1vw;
          font-style: normal;
          font-weight: 500;
          line-height: 1.3vw; /* 121.875% */
          span {
            color: #1d28fa;
          }
        }
        input {
          display: flex;
          width: 35vw;
          padding: 1vw;
          align-items: flex-start;
          gap: 1vw;
          border-radius: 0.5vw;
          background: #fff;
          color: #afafaf;
          font-family: "Inter";
          font-size: 1vw;
          font-style: normal;
          font-weight: 500;
          line-height: 1.2vw; /* 105% */
        }
        textarea {
          resize: none;
          display: flex;
          width: 35vw;
          padding: 1vw;
          align-items: flex-start;
          gap: 1vw;
          border-radius: 0.5vw;
          background: #fff;
          color: #afafaf;
          font-family: "Inter";
          font-size: 1vw;
          font-style: normal;
          font-weight: 500;
          line-height: 1.2vw; /* 105% */
        }
        .btn {
          display: flex;
          margin-top: 1vw;
          padding: 1vw 2vw;
          align-items: center;
          gap: 1.2vw;
          border-radius: 0.8vw;
          background: linear-gradient(
            140deg,
            #5c5c5c 1.86%,
            #cdcbcb 44.24%,
            #5c5c5c 96.52%
          );
          color: #111;
          font-family: "Inter";
          font-size: 1.2vw;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
          letter-spacing: 0.05vw;
          text-transform: lowercase;
          svg {
            width: 1vw;
            height: 1vw;
          }
        }
        .btn:hover{
          background: none;
          color: #fff;
          svg{
            color: #fff;
          }
        }
      }
    }
    .f2 {
      width: 40vw;
      align-self: stretch;
      iframe {
        border-radius: 2vw;
        height: 30vw;
      }
    }
  }
}

@media (max-width: 425px) {
  .aloqa {
    .container {
      width: 80%;
      flex-direction: column;
      .f1 {
        .ttl {
          font-size: 6vw;
          padding: 5vw 0;
        }
        form {
          gap: 3vw;
          .fttl {
            font-size: 5vw;
          }
          input {
            width: 70vw;
            padding: 2vw;
            border-radius: 1vw;
            font-size: 4vw;
          }
          textarea {
            padding: 5vw 2.5vw;
            width: 78vw;
            border-radius: 1vw;
            font-size: 5vw;
            height: 40vw;
          }
          .btn {
            padding: 2vw 10vw;
            width: 100%;
            margin: 7vw 0;
            font-size: 6vw;
            svg {
              width: 6vw;
              height: 6vw;
            }
          }
        }
        .tel {
          font-size: 4vw;
          width: 100%;
          gap: 3vw;
          padding: 3vw 0;
          svg {
            width:4.5vw;
            height: 4.5vw;
            color: #cbc9c9;
          }
        }
      }
      .f2 {
        margin: 8vw 0;
        width: 100%;
        iframe {
          height: 75vw;
        }
      }
    }
  }
}
