@import url(../../../style/index.scss);

.asosiy {
  background-image: url(../../../assets/images/mainpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 18vw 0 12vw 15vw;
  .grp {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.15);
    padding: 1.5vw;
    border-radius: 2vw;
    width: 31vw;
    display: none;
    flex-direction: column;
    gap: 1vw;
    .ttl {
      color: #fff;
      font-family: "Inter";
      font-size: 3vw;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 112px */
      letter-spacing: 0.2vw;
    }
    .txt {
      width: 30vw;
      color: #fff;
      font-family: "Inter";
      font-size: 1vw;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 33.6px */
      letter-spacing: 0.09vw;
    }
    button {
      display: flex;
      padding: 1vw 2vw;
      align-items: center;
      gap: 2vw;
      width: 20.4vw;
      border-radius: 1vw;
      background: linear-gradient(
        140deg,
        #5c5c5c 1.86%,
        #cdcbcb 44.24%,
        #5c5c5c 96.52%
      );
      color: #111;
      font-family: "Inter";
      font-size: 1.2vw;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 25.2px */
      letter-spacing: 0.08vw;
    }
  }
}

@media(max-width:768px){
    .asosiy{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vw;
        padding: 0;
        .grp{
            gap: 12px;
            width: 75vw;
            justify-content: center;
            align-items: center;
            .ttl{
                font-size: 2.8vw;
            }
            .txt{
                text-align: center;
                width: auto;
                font-size: 2vw;
            }
            button{
                gap: 15px;
                padding: 1vw;
                font-size: 2.5vw;
                width: auto;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

@media(max-width:450px){
    .asosiy{
        height: 150vw;
        padding: 90vw 0;
        .grp{
            padding: 5vw 1vw;
            .ttl{
                font-size: 7vw;
            }
            .txt{
                font-size: 4vw;
            }
            button{
                gap: 1vw;
                font-size: 3.2vw;
                padding: 1.4vw;
            }
        }
    }
}