@import url(../../../style/index.scss);

@keyframes opac {
  from {
    opacity: 0.5;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.rasm {
  background: #282828;
  padding: 2vw 4vw 0 4vw;
  display: flex;
  flex-direction: column;
  button {
    display: none;
    padding: 2vw 5vw;
    width: 60vw;
    margin: 8vw auto;
    color: #111;
    font-family: "Inter";
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.2vw;
    align-items: center;
    align-self: stretch;
    border-radius: 3vw;
    background: linear-gradient(
      140deg,
      #5c5c5c 1.86%,
      #cdcbcb 44.24%,
      #5c5c5c 96.52%
    );
  }
  .ttl {
    color: #fff;
    font-family: "Inter";
    text-align: center;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 78.4px */
    letter-spacing: 0.08vw;
    padding: 5vw 0;
  }
  .grp {
    padding: 3vw 0;
    display: flex;
    justify-content: center;
    gap: 2vw;
    .grp1 {
      display: flex;
      flex-direction: column;
      gap: 3vw;
      img {
        width: 25vw;
        animation: opac 1.5s 1s linear;
        animation-timeline: scroll();
      }
      img:hover {
        transform: perspective(1000px) rotateX(5deg) rotateY(-20deg) scale(1);
      }
    }
    .grp1:nth-child(1) {
      img:nth-child(4) {
        display: none;
      }
      img:nth-child(1),
      img:nth-child(3) {
        height: 18vw;
      }
      img:nth-child(2) {
        height: 25vw;
      }
    }
    .grp1:nth-child(2) {
      img:nth-child(2),
      img:nth-child(3) {
        height: 18vw;
      }
      img:nth-child(1) {
        height: 25vw;
      }
    }
    .grp1:nth-child(3) {
      img:nth-child(1),
      img:nth-child(2) {
        height: 18vw;
      }
      img:nth-child(3) {
        height: 25vw;
      }
    }
  }
}

@keyframes al {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .rasm {
    button {
      display: flex;
    }
    .ttl {
      font-size: 7vw;
      padding: 10vw 0;
    }
    .grp {
      flex-wrap: wrap;
      .one {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        animation: al 1s both;
        img {
          height: 36vw;
          width: 44.5vw;
          animation: opac 1.5s 1s linear;
          animation-timeline: scroll();
        }
      }
      .one:nth-child(1) {
        img:nth-child(4) {
          display: none;
        }
      }
      .one:nth-child(3) {
        flex-direction: row;
        flex-wrap: wrap;
        img:nth-child(1) {
          display: none;
        }
      }
      .grp1 {
        animation: al 1s both;
      }
      .grp1:nth-child(1) {
        img:nth-child(2),
        img:nth-child(1) {
          display: none;
        }
        img:nth-child(3) {
          height: 36vw;
          width: 44.5vw;
        }
        img:nth-child(4) {
          display: flex;
          height: 36vw;
          width: 44.5vw;
        }
      }
      .grp1:nth-child(2) {
        img:nth-child(2),
        img:nth-child(3) {
          height: 36vw;
          width: 44.5vw;
        }
        img:nth-child(1) {
          display: none;
        }
      }
      .grp1:nth-child(3) {
        display: none;
      }
    }
  }
}
